body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f5f5f5;
}

.logo {
    width: auto;
    height: auto;
    margin: 0 auto;
    grid-column: 1 / 2;
}

.head-text {
    /*margin: 0 auto;*/
    margin: 1vh;
    padding: 2vh;
    text-align: center;
    grid-column: 2 / 7;
}

.grid-container {
    display: grid;
    padding: 10px;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 10px;
}

pre#data {
    display: none;
}

.dc-table-column {
    overflow-x: auto;
    width: 7em;
}

table#dc-data-table {
    margin: 25px 25px 25px 50px;
    padding: 50px;
}

.header {
    font-weight: bold;
    text-align: center;
}

tbody tr.dc-table-group {
    text-align: center;
    border: 2px solid black;
    background-color: lightgreen;
}

#dc-data-table tr.header th {
    text-align: center;
    border: 2px solid black;
    background-color: lightsteelblue;
}

.dc-table-row td {
    border: 1px solid black;
}
